{% extends 'base.html' %}
{% load static %}

{% block title %}
Поиск
{% endblock %}

{% block content %}

<section class="blog-post-area">
    <div class="container">
        <div class="row">

                    {% for post in posts %}
                    <div class="col-md-3">
                        <div class="single-post">
                            <img src="{% static 'img/post-image2.jpg' %}"alt="">
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span>
                            </h4>
                            <p class='lead'>{{ post.content|truncatechars:10 }}</p>
                            <h4><span>{{ post.created_at|date  }}</span></h4>
                        </div>
                        {% empty %}
                        <p class='lead text-center'> По вашему запросу ничего не найдено </p>
                    </div>
                  {% endfor %}
            </div>
        </div>
    

    {% if page_obj.has_other_pages %}
    <div class="pegination">

        <div class="nav-links">
          {% for p in page_obj.pagination.page_range %}
          {% if page_obj.number == p %}
          <span class='page-numbers current'>{{ p }}</span>
          {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3  %}
            <a class="page-numbers" href="?page={{ p }}">{{ p }}</a>
          {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <a class="page-numbers" href="?page={{ page_obj.nex_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}
